<!-- BEGIN HEADER -->
<div class="header navbar navbar-fixed-top nav_color">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a class="navbar-brand" href="#">
                Common Drive
            </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <div>
            <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <img src="{{ STATIC_URL }}metronic_1.5.5/admin/img/menu-toggler.png" alt="" />
            </a>
        </div>
        <!-- END RESPONSIVE MENU TOGGLER -->

        <div class="top-menu">
            <ul class="nav navbar-nav pull-right" id="AH_UserDropdown">
            </ul>
        </div>
    </div>
    
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
